body {
	background-size: cover;
	background-image: linear-gradient(to bottom right, #bd2e36 , #763681);
	display: flex;
	font-family: 'Nunito', sans-serif;
}




#player-1 {
	background-color: #dbafbd;
	transition: background-color 0.5s ease;
	height: 96vh;
	width: 500px;
	margin-left: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;

}

#player-1-text {
	font-size: 45px;
	color: #3d3a3b;
	text-align: center;
	margin-top: 80px;
	font-weight: bold;

}

#player-2{
	background-color: #b97a99;
	transition: background-color 0.5s ease;
	height: 96vh;
	width: 500px;
	margin-right: auto;
	margin-top: 5px;
	margin-botom: 5px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}


#player-2-text {
	font-size: 45px;
	color: #3d3a3b;
	text-align: center;
	margin-top: 80px;
}


#player-1-score {
	color: #c7365f;
	font-size: 70px;
	margin-left: 240px;
	margin-top: -20px;

}

#player-2-score {
	color: #c7365f;
	font-size: 70px;
	margin-left: 240px;
	margin-top: -20px;
}

.btns {
 	text-align: center; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    position: fixed;
    top: 45%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}

#btn-new {

	width: 180px;
	height: 45px;
	border-radius: 20px;
	font-size: 17px;
	margin-top: 50px;
	margin-bottom: 330px;
	margin-top: 50px;
}


#btn-roll {
	width: 180px;
	height: 45px;
	border-radius: 20px;
	font-size: 17px;
	margin-top: 50px;
	margin-bottom: 20px;
}


.btn-roll-2 {
	width: 180px;
	height: 45px;
	border-radius: 20px;
	font-size: 17px;
	margin-top: 50px;
	margin-bottom: 20px;
}

#btn-hold {
	width: 150px;
	height: 45px;
	border-radius: 20px;
	font-size: 17px;
}


.number-container {
	background-color: #c7365f;
	width: 200px;
	height: 120px;
	margin: auto;
	margin-top: 150px;
	color: white;
	display: flex;
	justify-content: center;
	font-size: 20px;
	flex-direction: column;
	border-radius: 10px;
}



.current {
	position: fixed;
	margin-bottom: 60px;
	margin-left: 50px;
}


#player-1-number {
	font-size: 40px;
	margin: auto;
	margin-top: 15px;
}


#player-2-number {
	font-size: 40px;
	margin: auto;
	margin-top: 15px;
}


.dice1 {
	position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
}

.dice2 {
	position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
}




.dice3 {
	position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
}


.dice4 {
	position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
}


.dice5 {
	position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
}



.dice6 {
	position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
}
